<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ICConfiguration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Trulia.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>TruliaDebug.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>TruliaMonkey.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>TruliaStressTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>UnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B1836361652B4AB009923F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B3B59E5166D889800E421D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BFD1CCA166FBC9E00C95E91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C0CF11014D6643E00A1D325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51DA6A1114CF2F0D007F2584</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
