<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Trulia Rent</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small-50@2x.png</string>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-72.png</string>
		<string>Icon-72@2x.png</string>
		<string>iTunesArtwork</string>
		<string>iTunesArtwork@2x</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.truliainc.Rental</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes~ipad</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.trulia.TruliaIphoneApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb107187662675870</string>
				<string>trulia</string>
				<string>TruliaMap</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes~iphone</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.trulia.TruliaIphoneApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb107187662675870</string>
				<string>trulia</string>
				<string>TruliaIphone</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>46</string>
	<key>FacebookAppID</key>
	<string>468741039850614</string>
	<key>FacebookAppIDTest</key>
	<string>468741039850614</string>
	<key>FacebookPermissions</key>
	<array>
		<string>offline_access</string>
		<string>email</string>
		<string>user_about_me</string>
		<string>user_birthday</string>
		<string>user_hometown</string>
		<string>user_location</string>
		<string>user_notes</string>
		<string>user_status</string>
		<string>user_website</string>
		<string>user_work_history</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
