<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdjustSDK</key>
	<dict>
		<key>AdjustAppToken</key>
		<string>qh2bicxj3ojk</string>
		<key>AdjustEventTokens</key>
		<dict>
			<key>ForRentSingleUnitPDPView</key>
			<string>sji8bf</string>
			<key>ForRentComunityPDPView</key>
			<string>yieh3f</string>
			<key>ForRentSingleUnitLeadEmail</key>
			<string>4lib2b</string>
			<key>ForRentSingleUnitLeadPhone</key>
			<string>oonen4</string>
			<key>ForRentCommunityLeadEmail</key>
			<string>86phfr</string>
			<key>ForRentCommunityLeadPhone</key>
			<string>j8avro</string>
			<key>Registration</key>
			<string>q1quz5</string>
			<key>SaveListing</key>
			<string>k5vzpb</string>
			<key>SaveSearch</key>
			<string>x3vg9d</string>
		</dict>
	</dict>
	<key>SupportsForceReg</key>
	<true/>
	<key>GoogleAPIKey</key>
	<dict>
		<key>com.trulia.IosRental</key>
		<string>AIzaSyDaqoVTkn61OASjdVCHisA5JBpnsP7jaUo</string>
		<key>com.truliainc.IosRental</key>
		<string>AIzaSyBg2s4i7ObOQDtRlkswxPjTAE5ALs3IkKI</string>
	</dict>
	<key>SupportsComscore</key>
	<true/>
	<key>comScore</key>
	<dict>
		<key>CustomerC2</key>
		<string>6036206</string>
		<key>PublisherSecret</key>
		<string>ada334158b059052e7cfc0606003ff41</string>
	</dict>
	<key>AccountType</key>
	<string>Renter</string>
	<key>Settings</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string>25</string>
			<key>Key</key>
			<string>searchresults_preference</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>autorefresh_preference</string>
		</dict>
	</array>
	<key>Product</key>
	<string>IosRental</string>
	<key>KeychainService</key>
	<string>com.Trulia.IosRental</string>
	<key>IndexTypes</key>
	<array>
		<string>for rent</string>
	</array>
	<key>AppstoreAppID</key>
	<string>508163604</string>
</dict>
</plist>
