<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdjustSDK</key>
	<dict>
		<key>AdjustAppToken</key>
		<string>qh2bicxj3ojk</string>
		<key>AdjustEventTokens</key>
		<dict>
			<key>ForRentSingleUnitPDPView</key>
			<string>sji8bf</string>
			<key>ForRentComunityPDPView</key>
			<string>yieh3f</string>
			<key>ForRentSingleUnitLeadEmail</key>
			<string>4lib2b</string>
			<key>ForRentSingleUnitLeadPhone</key>
			<string>oonen4</string>
			<key>ForRentCommunityLeadEmail</key>
			<string>86phfr</string>
			<key>ForRentCommunityLeadPhone</key>
			<string>j8avro</string>
			<key>Registration</key>
			<string>q1quz5</string>
			<key>SaveListing</key>
			<string>k5vzpb</string>
			<key>SaveSearch</key>
			<string>x3vg9d</string>
		</dict>
	</dict>
	<key>SupportsForceReg</key>
	<true/>
	<key>GoogleAPIKey</key>
	<dict>
		<key>com.trulia.IosRental</key>
		<string>AIzaSyDaqoVTkn61OASjdVCHisA5JBpnsP7jaUo</string>
		<key>com.truliainc.IosRental</key>
		<string>AIzaSyBg2s4i7ObOQDtRlkswxPjTAE5ALs3IkKI</string>
	</dict>
	<key>SupportsComscore</key>
	<true/>
	<key>Experian</key>
	<dict>
		<key>PostLeadImpressionTrackerURL</key>
		<string>http://ad.doubleclick.net/ad/N3973.132720.9991984390421/B7722660.108636961;</string>
		<key>PostLeadCTRTrackerURL</key>
		<string>http://ad.doubleclick.net/ddm/clk/281874479;108636961;z</string>
		<key>PostLeadLogoTrackerURL</key>
		<string>http://ad.doubleclick.net/ddm/clk/282401899;109239040;g</string>
		<key>ImpressionURL</key>
		<string>http://ad.doubleclick.net/ad/N3973.132720.9991984390421/B7722660.108619678;</string>
		<key>CTRTrackerURL</key>
		<string>http://ad.doubleclick.net/ddm/clk/281867859;108619678;j</string>
		<key>LogoTrackerURL</key>
		<string>http://ad.doubleclick.net/ddm/clk/282400956;109237803;e</string>
	</dict>
	<key>comScore</key>
	<dict>
		<key>CustomerC2</key>
		<string>6036206</string>
		<key>PublisherSecret</key>
		<string>ada334158b059052e7cfc0606003ff41</string>
	</dict>
	<key>SupportsGeofencing</key>
	<false/>
	<key>validBathValues</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
	</array>
	<key>validSortKeys</key>
	<array>
		<string>Best Match</string>
		<string>Days On Trulia</string>
		<string>Price (High To Low)</string>
		<string>Price (Low To High)</string>
		<string>Bedrooms</string>
		<string>Baths</string>
		<string>Sqft</string>
	</array>
	<key>defaultListOfLocations</key>
	<array>
		<string>San Francisco, CA</string>
		<string>New York, NY</string>
		<string>Denver, CO</string>
		<string>Chicago, IL</string>
		<string>Los Angeles, CA</string>
	</array>
	<key>validBedValues</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
	</array>
	<key>validLotSizesValues</key>
	<array>
		<string>Any</string>
		<string>2,000+ sqft</string>
		<string>3,000+ sqft</string>
		<string>4,000+ sqft</string>
		<string>5,000+ sqft</string>
		<string>7,500+ sqft</string>
		<string>1/4+ acre</string>
		<string>1/2+ acre</string>
		<string>1+ acre</string>
		<string>2+ acre</string>
		<string>5+ acre</string>
		<string>10+ acre</string>
	</array>
	<key>validPetValues</key>
	<array>
		<dict>
			<key>title</key>
			<string>None</string>
			<key>value</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>Any Pets</string>
			<key>value</key>
			<string>any</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Cats</string>
			<key>value</key>
			<string>cats</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Small Dogs</string>
			<key>value</key>
			<string>sm_dogs</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Large Dogs</string>
			<key>value</key>
			<string>lg_dogs</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Other</string>
			<key>value</key>
			<string>other</string>
		</dict>
	</array>
	<key>validSoldWithinMonthsValues</key>
	<array>
		<integer>0</integer>
		<integer>3</integer>
		<integer>6</integer>
		<integer>9</integer>
	</array>
	<key>validForRentPriceValues</key>
	<array>
		<integer>0</integer>
		<integer>400</integer>
		<integer>500</integer>
		<integer>600</integer>
		<integer>700</integer>
		<integer>800</integer>
		<integer>900</integer>
		<integer>1000</integer>
		<integer>1100</integer>
		<integer>1200</integer>
		<integer>1300</integer>
		<integer>1400</integer>
		<integer>1500</integer>
		<integer>1600</integer>
		<integer>1700</integer>
		<integer>1800</integer>
		<integer>1900</integer>
		<integer>2000</integer>
		<integer>2200</integer>
		<integer>2400</integer>
		<integer>2500</integer>
		<integer>2600</integer>
		<integer>2800</integer>
		<integer>3000</integer>
		<integer>3200</integer>
		<integer>3400</integer>
		<integer>3500</integer>
		<integer>3600</integer>
		<integer>3800</integer>
		<integer>4000</integer>
		<integer>4200</integer>
		<integer>4400</integer>
		<integer>4500</integer>
		<integer>4600</integer>
		<integer>4800</integer>
		<integer>5000</integer>
		<integer>5200</integer>
		<integer>5400</integer>
		<integer>5500</integer>
		<integer>5600</integer>
		<integer>5800</integer>
		<integer>6000</integer>
		<integer>6200</integer>
		<integer>6400</integer>
		<integer>6500</integer>
		<integer>6600</integer>
		<integer>6800</integer>
		<integer>7000</integer>
		<integer>7200</integer>
		<integer>7400</integer>
		<integer>7500</integer>
		<integer>7600</integer>
		<integer>7800</integer>
		<integer>8000</integer>
		<integer>8200</integer>
		<integer>8400</integer>
		<integer>8500</integer>
		<integer>8600</integer>
		<integer>8800</integer>
		<integer>9000</integer>
		<integer>9200</integer>
		<integer>9400</integer>
		<integer>9500</integer>
		<integer>9600</integer>
		<integer>9800</integer>
		<integer>10000</integer>
	</array>
	<key>validForSalePropertyTypeValues</key>
	<array>
		<string>All Types</string>
		<string>Single-Family Home</string>
		<string>Condo</string>
		<string>Townhouse</string>
		<string>Coop</string>
		<string>Apartment</string>
		<string>Loft</string>
		<string>TIC</string>
		<string>Apartment/Condo/Townhouse</string>
		<string>Mobile/Manufactured</string>
		<string>Farm/Ranch</string>
		<string>Lot/Land</string>
		<string>Multi-Family</string>
		<string>Income/Investment</string>
		<string>Houseboat</string>
	</array>
	<key>validForRentPropertyTypeValues</key>
	<array>
		<string>All</string>
		<string>Single-Family Home</string>
		<string>Apartment/Condo/Townhouse</string>
		<string>Apartment Community</string>
		<string>Room For Rent</string>
	</array>
	<key>validForSoldPriceValues</key>
	<array>
		<integer>0</integer>
		<integer>10000</integer>
		<integer>20000</integer>
		<integer>30000</integer>
		<integer>50000</integer>
		<integer>100000</integer>
		<integer>130000</integer>
		<integer>150000</integer>
		<integer>200000</integer>
		<integer>250000</integer>
		<integer>300000</integer>
		<integer>350000</integer>
		<integer>400000</integer>
		<integer>450000</integer>
		<integer>500000</integer>
		<integer>550000</integer>
		<integer>600000</integer>
		<integer>650000</integer>
		<integer>700000</integer>
		<integer>750000</integer>
		<integer>800000</integer>
		<integer>850000</integer>
		<integer>900000</integer>
		<integer>950000</integer>
		<integer>1000000</integer>
		<integer>1100000</integer>
		<integer>1200000</integer>
		<integer>1250000</integer>
		<integer>1400000</integer>
		<integer>1500000</integer>
		<integer>1600000</integer>
		<integer>1700000</integer>
		<integer>1750000</integer>
		<integer>1800000</integer>
		<integer>1900000</integer>
		<integer>2000000</integer>
		<integer>2250000</integer>
		<integer>2500000</integer>
		<integer>2750000</integer>
		<integer>3000000</integer>
		<integer>3500000</integer>
		<integer>4000000</integer>
	</array>
	<key>validSqftValues</key>
	<array>
		<integer>0</integer>
		<integer>250</integer>
		<integer>500</integer>
		<integer>750</integer>
		<integer>1000</integer>
		<integer>1250</integer>
		<integer>1500</integer>
		<integer>1750</integer>
		<integer>2000</integer>
		<integer>2250</integer>
		<integer>2500</integer>
		<integer>2750</integer>
		<integer>3000</integer>
		<integer>3250</integer>
		<integer>3500</integer>
		<integer>3750</integer>
		<integer>4000</integer>
		<integer>4250</integer>
		<integer>4500</integer>
		<integer>4750</integer>
		<integer>5000</integer>
		<integer>5250</integer>
		<integer>5500</integer>
		<integer>5750</integer>
		<integer>6000</integer>
		<integer>6250</integer>
		<integer>6500</integer>
		<integer>6750</integer>
		<integer>7000</integer>
		<integer>7250</integer>
		<integer>7500</integer>
		<integer>7750</integer>
		<integer>8000</integer>
		<integer>8250</integer>
		<integer>8500</integer>
		<integer>8750</integer>
		<integer>9000</integer>
		<integer>9250</integer>
		<integer>9500</integer>
		<integer>9750</integer>
		<integer>10000</integer>
	</array>
	<key>ShowIntroForUpdate</key>
	<true/>
	<key>AccountType</key>
	<string>Renter</string>
	<key>RentOnlyListings</key>
	<string>1</string>
	<key>RentOnlySearches</key>
	<string>1</string>
	<key>Settings</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string>25</string>
			<key>Key</key>
			<string>searchresults_preference</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>autorefresh_preference</string>
		</dict>
	</array>
	<key>Product</key>
	<string>IosRental</string>
	<key>KeychainService</key>
	<string>com.Trulia.IosRental</string>
	<key>ListingSearchPageSize</key>
	<integer>25</integer>
	<key>NearbySearchDistance</key>
	<string>0.25</string>
	<key>SyncService</key>
	<array>
		<string>Account</string>
		<string>Home</string>
		<string>Search</string>
		<string>State</string>
		<string>Notification</string>
		<string>Log</string>
	</array>
	<key>NearbyText</key>
	<string>Current Location</string>
	<key>MapAreaText</key>
	<string>Viewable Map Area</string>
	<key>TapSenseAppId</key>
	<string>288487321</string>
	<key>IndexTypes</key>
	<array>
		<string>for rent</string>
	</array>
	<key>adUnitIdForProperty</key>
	<string>/7449/iPhone_Main_App/iPhone_App_Property_Results</string>
	<key>NotificationsSupported</key>
	<array>
		<integer>2</integer>
	</array>
	<key>MBSAdParameters</key>
	<dict>
		<key>MBSAdAppID</key>
		<string>44D965502C500130643912313D276CB2</string>
		<key>MBSAdMode</key>
		<string>stage</string>
		<key>MBSAdProduct</key>
		<string>${PRODUCT_NAME}</string>
		<key>MBSAdPublisherID</key>
		<string>111228</string>
		<key>MBSAdServer</key>
		<string>http://mrp.rubiconproject.com/</string>
		<key>MBSAdTestAdID</key>
		<string>0</string>
	</dict>
	<key>HasOffersConversionKey</key>
	<string>82ede779dbe629124139125f19d180f0</string>
	<key>HasOffersAdvertiserID</key>
	<string>3050</string>
	<key>HasOffersSendLeadEventID</key>
	<string>823281206</string>
	<key>HasOffersRegistrationEventID</key>
	<string>823281490</string>
	<key>HasOffersSaveEventID</key>
	<string>823281438</string>
	<key>AppstoreAppID</key>
	<string>508163604</string>
	<key>AppiraterNumberOfSignificantEvents</key>
	<integer>5</integer>
	<key>AppiraterUseCountThreshold</key>
	<integer>5</integer>
	<key>adUnitIdPrefix</key>
	<string>/7449/Trulia_iPhone_Rentals_App</string>
</dict>
</plist>
