<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountType</key>
	<string>Renter</string>
	<key>RentOnlyListings</key>
	<string>1</string>
	<key>RentOnlySearches</key>
	<string>1</string>
	<key>Settings</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string>25</string>
			<key>Key</key>
			<string>searchresults_preference</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>autorefresh_preference</string>
		</dict>
	</array>
	<key>Product</key>
	<string>IosRental</string>
	<key>KeychainService</key>
	<string>com.Trulia.IosRental</string>
	<key>ListingSearchPageSize</key>
	<integer>25</integer>
	<key>NearbySearchDistance</key>
	<string>0.25</string>
	<key>SyncService</key>
	<array>
		<string>Account</string>
		<string>Home</string>
		<string>Search</string>
		<string>State</string>
		<string>Notification</string>
		<string>Log</string>
	</array>
	<key>NearbyText</key>
	<string>Nearby</string>
	<key>MapAreaText</key>
	<string>Viewable Map Area</string>
	<key>AppStoreLink</key>
	<string>http://itunes.apple.com/us/app/trulia-real-estate-search/id288487321</string>
	<key>TapSenseAppId</key>
	<string>288487321</string>
	<key>IndexTypes</key>
	<array>
		<string>for rent</string>
	</array>
	<key>adUnitIdForProperty</key>
	<string>/7449/iPhone_Main_App/iPhone_App_Property_Results</string>
	<key>NotificationsSupported</key>
	<array>
		<integer>2</integer>
	</array>
	<key>MBSAdParameters</key>
	<dict>
		<key>MBSAdAppID</key>
		<string>44D965502C500130643912313D276CB2</string>
		<key>MBSAdMode</key>
		<string>stage</string>
		<key>MBSAdProduct</key>
		<string>${PRODUCT_NAME}</string>
		<key>MBSAdPublisherID</key>
		<string>111228</string>
		<key>MBSAdServer</key>
		<string>http://mrp.rubiconproject.com/</string>
		<key>MBSAdTestAdID</key>
		<string>0</string>
	</dict>
	<key>HasOffersConversionKey</key>
	<string>82ede779dbe629124139125f19d180f0</string>
	<key>HasOffersAdvertiserID</key>
	<string>3050</string>
	<key>HasOffersSendLeadEventID</key>
	<string>823281206</string>
	<key>HasOffersRegistrationEventID</key>
	<string>823281490</string>
	<key>HasOffersSaveEventID</key>
	<string>823281438</string>
	<key>AppstoreAppID</key>
	<string>508163604</string>
</dict>
</plist>
