<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsForceReg</key>
	<true/>
	<key>GoogleAPIKey</key>
	<dict>
		<key>com.trulia.IosRental</key>
		<string>AIzaSyDaqoVTkn61OASjdVCHisA5JBpnsP7jaUo</string>
		<key>com.truliainc.IosRental</key>
		<string>AIzaSyBg2s4i7ObOQDtRlkswxPjTAE5ALs3IkKI</string>
	</dict>
	<key>SupportsComscore</key>
	<true/>
	<key>Experian</key>
	<dict>
		<key>PostLeadImpressionTrackerURL</key>
		<string>http://ad.doubleclick.net/ad/N3973.132720.9991984390421/B7722660.108637630;</string>
		<key>PostLeadCTRTrackerURL</key>
		<string>http://ad.doubleclick.net/ddm/clk/281874799;108637630;y</string>
		<key>PostLeadLogoTrackerURL</key>
		<string>http://ad.doubleclick.net/ddm/clk/282403287;109241547;e</string>
		<key>ImpressionURL</key>
		<string>http://ad.doubleclick.net/ad/N3973.132720.9991984390421/B7722660.108619911;</string>
		<key>CTRTrackerURL</key>
		<string>http://ad.doubleclick.net/ddm/clk/281867838;108619911;w</string>
		<key>LogoTrackerURL</key>
		<string>http://ad.doubleclick.net/ddm/clk/282400591;109238360;y</string>
	</dict>
	<key>validSortKeys</key>
	<array>
		<string>Best Match</string>
		<string>Days On Trulia</string>
		<string>Price (High To Low)</string>
		<string>Price (Low To High)</string>
		<string>Bedrooms</string>
		<string>Baths</string>
		<string>Sqft</string>
	</array>
	<key>validSoldWithinMonthsValues</key>
	<array>
		<string>0</string>
		<string>3</string>
		<string>6</string>
		<string>9</string>
	</array>
	<key>validForSoldPriceValues</key>
	<array>
		<string>0</string>
		<string>10000</string>
		<string>20000</string>
		<string>30000</string>
		<string>50000</string>
		<string>100000</string>
		<string>130000</string>
		<string>150000</string>
		<string>200000</string>
		<string>250000</string>
		<string>300000</string>
		<string>350000</string>
		<string>400000</string>
		<string>450000</string>
		<string>500000</string>
		<string>550000</string>
		<string>600000</string>
		<string>650000</string>
		<string>700000</string>
		<string>750000</string>
		<string>800000</string>
		<string>850000</string>
		<string>900000</string>
		<string>950000</string>
		<string>1000000</string>
		<string>1100000</string>
		<string>1200000</string>
		<string>1250000</string>
		<string>1400000</string>
		<string>1500000</string>
		<string>1600000</string>
		<string>1700000</string>
		<string>1750000</string>
		<string>1800000</string>
		<string>1900000</string>
		<string>2000000</string>
		<string>2250000</string>
		<string>2500000</string>
		<string>2750000</string>
		<string>3000000</string>
		<string>3500000</string>
		<string>4000000</string>
	</array>
	<key>validForRentPriceValues</key>
	<array>
		<string></string>
		<string>0</string>
		<string>400</string>
		<string>500</string>
		<string>600</string>
		<string>700</string>
		<string>800</string>
		<string>900</string>
		<string>1000</string>
		<string>1100</string>
		<string>1200</string>
		<string>1300</string>
		<string>1400</string>
		<string>1500</string>
		<string>1600</string>
		<string>1700</string>
		<string>1800</string>
		<string>1900</string>
		<string>2000</string>
		<string>2200</string>
		<string>2400</string>
		<string>2500</string>
		<string>2600</string>
		<string>2800</string>
		<string>3000</string>
		<string>3200</string>
		<string>3400</string>
		<string>3500</string>
		<string>3600</string>
		<string>3800</string>
		<string>4000</string>
		<string>4200</string>
		<string>4400</string>
		<string>4500</string>
		<string>4600</string>
		<string>4800</string>
		<string>5000</string>
		<string>5200</string>
		<string>5400</string>
		<string>5500</string>
		<string>5600</string>
		<string>5800</string>
		<string>6000</string>
		<string>6200</string>
		<string>6400</string>
		<string>6500</string>
		<string>6600</string>
		<string>6800</string>
		<string>7000</string>
		<string>7200</string>
		<string>7400</string>
		<string>7500</string>
		<string>7600</string>
		<string>7800</string>
		<string>8000</string>
		<string>8200</string>
		<string>8400</string>
		<string>8500</string>
		<string>8600</string>
		<string>8800</string>
		<string>9000</string>
		<string>9200</string>
		<string>9400</string>
		<string>9500</string>
		<string>9600</string>
		<string>9800</string>
		<string>10000</string>
	</array>
	<key>validForSalePropertyTypeValues</key>
	<array>
		<string>All Types</string>
		<string>Single-Family Home</string>
		<string>Condo</string>
		<string>Townhouse</string>
		<string>Coop</string>
		<string>Apartment</string>
		<string>Loft</string>
		<string>TIC</string>
		<string>Apartment/Condo/Townhouse</string>
		<string>Mobile/Manufactured</string>
		<string>Farm/Ranch</string>
		<string>Lot/Land</string>
		<string>Multi-Family</string>
		<string>Income/Investment</string>
		<string>Houseboat</string>
	</array>
	<key>validForRentPropertyTypeValues</key>
	<array>
		<string>All</string>
		<string>Single-Family Home</string>
		<string>Apartment/Condo/Townhouse</string>
		<string>Apartment Community</string>
		<string>Room For Rent</string>
	</array>
	<key>defaultListOfLocations</key>
	<array>
		<string>San Francisco, CA</string>
		<string>New York, NY</string>
		<string>Denver, CO</string>
		<string>Chicago, IL</string>
		<string>Los Angeles, CA</string>
	</array>
	<key>validSqftValues</key>
	<array>
		<string></string>
		<string>Any</string>
		<string>0</string>
		<string>400</string>
		<string>500</string>
		<string>600</string>
		<string>700</string>
		<string>800</string>
		<string>900</string>
		<string>1000</string>
		<string>1100</string>
		<string>1200</string>
		<string>1300</string>
		<string>1400</string>
		<string>1500</string>
		<string>1600</string>
		<string>1700</string>
		<string>1800</string>
		<string>1900</string>
		<string>2000</string>
		<string>2500</string>
		<string>3000</string>
		<string>3500</string>
		<string>4000</string>
		<string>4500</string>
		<string>5000</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>validBedValues</key>
	<array>
		<string>Any</string>
		<string>0</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
	</array>
	<key>validLotSizesValues</key>
	<array>
		<string>Any</string>
		<string>2,000+ sqft</string>
		<string>3,000+ sqft</string>
		<string>4,000+ sqft</string>
		<string>5,000+ sqft</string>
		<string>7,500+ sqft</string>
		<string>1/4+ acre</string>
		<string>1/2+ acre</string>
		<string>1+ acre</string>
		<string>2+ acre</string>
		<string>5+ acre</string>
		<string>10+ acre</string>
	</array>
	<key>validPetValues</key>
	<array>
		<dict>
			<key>title</key>
			<string>None</string>
			<key>value</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>Any Pets</string>
			<key>value</key>
			<string>any</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Cats</string>
			<key>value</key>
			<string>cats</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Small Dogs</string>
			<key>value</key>
			<string>sm_dogs</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Large Dogs</string>
			<key>value</key>
			<string>lg_dogs</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Other</string>
			<key>value</key>
			<string>other</string>
		</dict>
	</array>
	<key>validBathValues</key>
	<array>
		<string>Any</string>
		<string>0</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
	</array>
	<key>comScore</key>
	<dict>
		<key>CustomerC2</key>
		<string>6036206</string>
		<key>PublisherSecret</key>
		<string>ada334158b059052e7cfc0606003ff41</string>
	</dict>
	<key>HasOffersConversionKey</key>
	<string>82ede779dbe629124139125f19d180f0</string>
	<key>HasOffersAdvertiserID</key>
	<string>3050</string>
	<key>HasOffersSendLeadEventID</key>
	<string>823281206</string>
	<key>HasOffersRegistrationEventID</key>
	<string>823281490</string>
	<key>HasOffersSaveEventID</key>
	<string>823281438</string>
	<key>IndexTypes</key>
	<array>
		<string>for rent</string>
	</array>
	<key>AccountType</key>
	<string>Renter</string>
	<key>Product</key>
	<string>IpadRental</string>
	<key>KeychainService</key>
	<string>com.Trulia.IosRental</string>
	<key>ListingSearchPageSize</key>
	<integer>50</integer>
	<key>NearbySearchDistance</key>
	<string>0.25</string>
	<key>SyncService</key>
	<array>
		<string>Account</string>
		<string>Home</string>
		<string>Search</string>
		<string>State</string>
		<string>Log</string>
	</array>
	<key>NearbyText</key>
	<string>Current Location</string>
	<key>MapAreaText</key>
	<string>Viewable Map Area</string>
	<key>RentOnlySearches</key>
	<integer>1</integer>
	<key>RentOnlyListings</key>
	<integer>1</integer>
	<key>MBSAdParameters</key>
	<dict>
		<key>MBSAdAppID</key>
		<string>E3872E80124A0130638B12313D276CB2</string>
		<key>MBSAdMode</key>
		<string>stage</string>
		<key>MBSAdProduct</key>
		<string>${PRODUCT_NAME}</string>
		<key>MBSAdPublisherID</key>
		<string>111228</string>
		<key>MBSAdServer</key>
		<string>http://mrp.rubiconproject.com/</string>
		<key>MBSAdTestAdID</key>
		<string>0</string>
	</dict>
	<key>DFPAdIDForSRP</key>
	<string>/7449/iPad_Rentals_App/iPad_Rentals_App_SearchResults</string>
	<key>AppstoreAppID</key>
	<string>508163604</string>
	<key>NotificationsSupported</key>
	<array>
		<integer>2</integer>
	</array>
	<key>AppiraterNumberOfSignificantEvents</key>
	<integer>5</integer>
	<key>AppiraterUseCountThreshold</key>
	<integer>5</integer>
</dict>
</plist>
