<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IndexTypes</key>
	<array>
		<string>for rent</string>
	</array>
	<key>AccountType</key>
	<string>Renter</string>
	<key>Product</key>
	<string>IpadRental</string>
	<key>KeychainService</key>
	<string>com.Trulia.IosRental</string>
	<key>ListingSearchPageSize</key>
	<integer>50</integer>
	<key>NearbySearchDistance</key>
	<string>0.25</string>
	<key>SyncService</key>
	<array>
		<string>Account</string>
		<string>Home</string>
		<string>Search</string>
		<string>State</string>
		<string>Log</string>
	</array>
	<key>NearbyText</key>
	<string>Nearby</string>
	<key>MapAreaText</key>
	<string>Viewable Map Area</string>
	<key>RentOnlySearches</key>
	<integer>1</integer>
	<key>AppStoreLink</key>
	<string>http://itunes.apple.com/us/app/trulia-for-agents/id489692273?ls=1&amp;mt=8</string>
	<key>RentOnlyListings</key>
	<integer>1</integer>
	<key>MBSAdParameters</key>
	<dict>
		<key>MBSAdAppID</key>
		<string>E3872E80124A0130638B12313D276CB2</string>
		<key>MBSAdMode</key>
		<string>stage</string>
		<key>MBSAdProduct</key>
		<string>${PRODUCT_NAME}</string>
		<key>MBSAdPublisherID</key>
		<string>111228</string>
		<key>MBSAdServer</key>
		<string>http://mrp.rubiconproject.com/</string>
		<key>MBSAdTestAdID</key>
		<string>0</string>
	</dict>
	<key>AppStoreReviewLink</key>
	<string>http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?id=508163604&amp;pageNumber=0&amp;sortOrdering=1&amp;type=Purple+Software&amp;mt=8</string>
	<key>DFPAdIDForSRP</key>
	<string>/7449/iPhone_Rentals_App/iPhone_Rentals_App_PDP</string>
	<key>NotificationsSupported</key>
	<array>
		<integer>2</integer>
	</array>
</dict>
</plist>
