<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Product</key>
	<string>TruliaMap</string>
	<key>Source</key>
	<string>TruliaMap</string>
	<key>Chrome</key>
	<string>truliamap</string>
</dict>
</plist>
