<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Trulia Rentals</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes~ipad</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.trulia.TruliaRentalUniversal</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb468741039850614</string>
				<string>gsd-TruliaPDPForRent</string>
				<string>gsd-TruliaPDPForSale</string>
				<string>gsd-TruliaPDPForSale</string>
				<string>gsd-TruliaPDPForRent</string>
				<string>gsd-trulia</string>
				<string>gsd-TruliaMap</string>
				<string>TruliaSRPForSale</string>
				<string>TruliaSRPForRent</string>
				<string>TruliaPDPForSale</string>
				<string>TruliaPDPForRent</string>
				<string>trulia</string>
				<string>TruliaMap</string>
				<string>TruliaBringToForegroundOnly</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes~iphone</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.trulia.TruliaRentalUniversal</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb$(FACEBOOK_APP_ID)</string>
				<string>gsd-TruliaIphone</string>
				<string>gsd-trulia</string>
				<string>gsd-TruliaPDPForRent</string>
				<string>gsd-TruliaPDPForSale</string>
				<string>gsd-TruliaSRPForRent</string>
				<string>gsd-TruliaSRPForSale</string>
				<string>TruliaSRPForSale</string>
				<string>TruliaSRPForRent</string>
				<string>TruliaPDPForSale</string>
				<string>TruliaPDPForRent</string>
				<string>trulia</string>
				<string>TruliaIphone</string>
				<string>TruliaCollabNewProperty</string>
				<string>TruliaCollabInvitation</string>
				<string>TruliaCollabAllBoards</string>
				<string>TruliaBringToForegroundOnly</string>
				<string>TruliaNotificationCenter</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes~ipod</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.trulia.TruliaRentalUniversal</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb$(FACEBOOK_APP_ID)</string>
				<string>gsd-TruliaIphone</string>
				<string>gsd-trulia</string>
				<string>gsd-TruliaPDPForRent</string>
				<string>gsd-TruliaPDPForSale</string>
				<string>gsd-TruliaSRPForRent</string>
				<string>gsd-TruliaSRPForSale</string>
				<string>TruliaSRPForSale</string>
				<string>TruliaSRPForRent</string>
				<string>TruliaPDPForSale</string>
				<string>TruliaPDPForRent</string>
				<string>trulia</string>
				<string>TruliaIphone</string>
				<string>TruliaCollabNewProperty</string>
				<string>TruliaCollabInvitation</string>
				<string>TruliaCollabAllBoards</string>
				<string>TruliaBringToForegroundOnly</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>69c46441eff2d4c6f8a043fd66d16ff159cd9812</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>$(FACEBOOK_APP_ID)</string>
	<key>FacebookDisplayName</key>
	<string>Trulia - For Rent</string>
	<key>FacebookPermissions</key>
	<array>
		<string>offline_access</string>
		<string>email</string>
		<string>user_birthday</string>
		<string>user_location</string>
	</array>
	<key>ICConfigurationBundleName</key>
	<string>ICConfiguration.bundle</string>
	<key>IosCoreResourcesBundleName</key>
	<string>IosCoreResources.bundle</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>itms</string>
		<string>itms-apps</string>
		<string>tel</string>
		<string>sms</string>
		<string>googlechrome</string>
		<string>comgooglemaps-x-callback</string>
		<string>comgooglemaps</string>
		<string>TruliaAgentApp</string>
		<string>TruliaForSale</string>
		<string>truliarental</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Trulia needs your location to allow you to search and get updates on homes.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Trulia needs your location to allow you to search homes and get updates on homes you'll love.</string>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-SemiboldItalic.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
